@use "styles";

.main__saving {
  background-color: #b4d3e5;
  border: 2px solid black;
  border-radius: 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: c;

  & p:nth-last-of-type(1) {
    margin: 0em 0em;
    @include styles.main-font;
  }
  & p:nth-last-of-type(2) {
    margin: 0em 0em;
    @include styles.main-font;
  }

  .main__saving__target {
    @include styles.main-font;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgb(133, 172, 186);
      border-radius: 2em;
      border: 2px solid rgb(139, 139, 181);
      width: 15vw;
      padding: 1em;
      margin: 2em 0em;

      & input:nth-last-of-type(1) {
        @include styles.button-style;
        margin-top: 1em;
        &:hover {
          @include styles.button-style-hover;
        }
      }
      & input:nth-last-of-type(2) {
        @include styles.option-style;
      }
    }
  }

  .main__saving__progess {
    @include styles.main-font;
    margin-top: 2em;
    display: flex;
    flex-direction: column;

    progress{
        width:15vw;
    }
    
    
  }
}
